.FlagTile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.FlagTile--add {
  background-color: #dff0d8;
}

.FlagTile-from,
.FlagTile-to {
  flex: 1;
}

.FlagTile-from {
  text-align: right;
}

.FlagTile-type {
  width: 120px;
  margin: 0 2em;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}
