/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-LightIt.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-It.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/SourceSansPro-SemiboldIt.ttf");
  font-weight: 600;
  font-style: italic;
}

/* Base style & classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  font-family: "Source Sans Pro", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 30px 0;
}

/* Columns
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  min-width: 100%;
  max-width: 100%;
}

.container,
.row,
.columns {
  height: 100%;
}

.columns {
  /*overflow-y: auto;*/
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  height: 79px;
  border-bottom: 1px solid #F5EDF0;
  text-align: center;
}

.header.expanded {
  height: 100%;
}

.modal {
  transform: translate3d(0, -100%, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 70, 83, 0.84);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.modal.visible {
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

.modalContent {
  padding: 100px;
}

.brand {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../images/logo.svg');
  width: 160px;
  height: 41px;
  position: relative;
  top: 20px;
  left: 20px;
}

.brand span {
  display: none;
}

.section {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.button.button-primary,
button.button-primary {
  background-color: #6C93AD;
  border-color: #6C93AD; }

button.button-primary:hover,
.button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
  background-color: #264653;
  border-color: #264653; }

.button.button:disabled {
  background-color: #6C93AD;
  border-color: #6C93AD;
  opacity: 0.54;
}

input[type="search"]:focus {
  border: 1px solid #6C93AD;
}

.pad-all {
  padding: 15px;
}

.pad-top {
  padding: 15px 15px 0px 15px;
}

.pad-left-right {
  padding: 0 15px;
}

.pad-top-bottom {
  padding: 15px 0;
}

#object1 {
  background-color: #F5EDF0;
}

#object2 {
  background-color: #F5EDF0;
}

#relation {
  background-color: #fff;
}

.concept:hover {
  cursor: pointer;
}

.concept:hover {
  background-color: #fff;
}

.pit {
  background-color: #F5EDF0;
  overflow: hidden;
}

.close-button,
.relations-button {
  position: absolute;
  top: 20px;
  right: 10px;
}

button.close-button {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 1px;
  padding-bottom: 4px;
  font-size: 24px;
  color: #264653;
  font-weight: bold;
}

h3 {
  margin-bottom: 1px;
  padding-bottom: 4px;
  font-weight: lighter;
  font-size: 20px;
}

h4 {
  font-style: italic;
  font-size: 20px;
}

h4:before {
  content: '“';
}

h4:after {
  content: "”";
}

table {
  width: 100%;
  margin-bottom: 0;
}

table tr td.label:after {
  content: ':';
}

.type {
  float: right;
  opacity: 0.5;
}
