.ConceptDropTarget {
  position: relative;
  flex: 1;
}

.ConceptDropTarget-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.84);
}

.ConceptDropTarget-overlay--disabled {
  background-color: rgba(200, 0, 0, 0.54);
}

.ConceptDropTarget-message {
  font-size: 16px;
  background-color: #264653;
  color: #fff;
  padding: 1em;
  border-radius: 6px;
}

.ConceptDropTarget-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}
