.SearchResults {
  position: absolute;
  border: 1px solid #ccc;
  background-color: white;
}

.SearchResults-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.SearchResults-listItem {
}

.SearchResults-listItem:hover {
  background-color: #ccc;
}

.SearchResults-listItem__active {
  background-color: cyan;
}
