.List {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px;
  overflow-y: scroll;
}

.List-item {
  border-bottom: 1px solid #f5edf0;
}

.List-item:hover,
.List-item--active {
  border-bottom: 1px solid #f5edf0;
  background-color: #f5edf0;
  cursor: pointer;
}
