.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.ReactModal__Content {
  position: relative;
  transform: translateY(-50%);
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  transform: translateY(-50%);
  transition: transform 150ms ease-in-out;
}

.FlagModal-heading {
  margin: 0.5em 0;
  font-weight: bold;
}

.FlagModal-radioGroup {
  padding: 3px 0;
}

.FlagModal-radioGroup--disabled {
  opacity: 0.54;
}

.FlagModal-radioGroup > label > input {
  margin-right: 0.25em;
}

.FlagModal-input {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f5edf0;
  height: 40px;
  padding: 10px 1em;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 3px 3px 0 0;
  outline: 0;
}

.FlagModal-list {
  list-style: none;
  height: 300px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: #f5edf0;
  border: 1px solid #f5edf0;
  border-radius: 0 0 3px 3px;
}

.FlagModal-listItem {
  padding: 0.5em 1em;
}

.FlagModal-listItem--active,
.FlagModal-listItem:hover {
  background-color: white;
  cursor: pointer;
}
