.FlagModal-header {
  background-color: #264653;
  color: white;
  padding: 8px 16px;
}

.FlagModal-content {
  padding: 8px 16px;
}

.FlagModal-footer {
  background-color: #f5edf0;
  padding: 8px 16px;
  text-align: right;
}


/*
 * NOTE: Uncomment to add animation
 *
/*
.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-in;
}

.ReactModal__Content {
  position: relative;
  transform: translateY(-50%);
}

.ReactModal__Content--after-open {
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  transform: translateY(-50%);
  transition: transform 150ms ease-in-out;
}
*/
