.ConceptTile {
  padding: 1em;
  color: #333;
  background-color: #fff;
}

.ConceptTile-heading {
  font-size: 16px;
}

.ConceptTile-body {
  color: #999;
  font-size: 14px;
}

.ConceptTile-body > span {
  display: block;
}
