.TwoColumnLayout {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.TwoColumnLayout-left {
  position: relative;
  display: flex;
  width: 300px;
  border-right: 1px solid #f5edf0;
}

.TwoColumnLayout-right {
  display: flex;
  flex: 1;
}
