.Pit {
  border: 1px solid #eee;
  margin: 1em 0;
  padding: 1em;
}

.Pit-name {
  font-weight: bold;
  text-transform: uppercase;
}

.Pit-type {
  color: #999;
  font-size: 0.875em;
}

.Pit-dataset {
  color: #999;
  font-family: monospace, monospace;
  font-size: 12px;
}

.Pit-id {
  color: #999;
  font-size: 14px;
  font-weight: 100;
}
